.example-flex-container {
    display: flex;
    justify-content: center;
    align-items:end;
    flex-wrap: wrap;
    margin-top: 310px;
  }
  .mainStudy {

    width: 600px;
    height: 500px;
    background-color: whitesmoke;
    
  }
  .topbar{
    display: flex;flex-direction: row;
    margin: 10px;
  }
  .btn-next{
    margin: 10px;
  }